
body
	margin 0
	padding 0
	min-height 100%
	min-width 100%
	font-family 'Roboto', sans-serif
	background-color #ecf0f0

a 
	text-decoration none
	
li 
	list-style none
		
.header
	background-color #21313e
	margin 0 auto
	padding 0 50px
	display flex
	justify-content flex-start		
	&__link
		margin-top 60px
.btn-info
	margin-left 28px
	padding 30px 0 0
	&__link
		color rgb(93,156,236)
		font-size 13px
	&__btn
		font-family inherit
		width 108px
		height 22px
		margin 10px 0
		font-size 11px
		font-weight bold
		color white
		background-color #37bc9a
		text-transform uppercase
		border-radius 3px
		border none
	&__number
		font-size 23px
		font-weight normal
		color white
		margin 7px 10px
	&__sum
		font-size 13px
		color rgb(144,152,160)
		margin 0
	&__wrap
		display flex
		flex-direction columns
		justify-content space-between	
									
.header-logo
	display flex
	flex-direction column
	justify-content space-between
	margin-left auto
	&__btn-cb
		font-family inherit
		width 25px
		height 15px
		margin-right 25px
		border-radius 20px
		text-transform uppercase
		font-weight bold
		font-size 11px
		color white
		background-color #4ec0e9
		border none
		padding 0
		margin-top 50px
	&__menu
		color white
		font-size 34px
		font-weight bold
		padding 10px 0	
.main-menu
	width auto
	&__nav
		justify-content space-between
		display flex
		width 205px
		margin 50px 0 0 0
		text-transform uppercase
		padding 0	
	&__link
		font-size 13px
		color rgb(144,152,160)			
	&__link
		color rgb(144,152,160)
		&:hover
		&:focus
			color white
			border-bottom 4px solid #5d9cec
			padding-bottom 12px 			
	&__item
		&_active
			border-bottom 4px solid #5d9cec
			padding-bottom 12px 
	&__link
		&_active
			color white
		

