	
.invoice-amount
	background-color #ffffff
	min-height 60px
	&__list
		padding 20px
		display flex
		justify-content space-between
		position relative
	&__item1
		padding-right 100px
		&::before
			content "К оплате по счету"
			font-size 13px
			position absolute
			top 5px
			left 20px
			color #4183d7			
			color #4183d7
			font-weight normal
	&__item2
		padding-right 100px
		&::before
			content "По пролонгации"
			font-size 13px
			position absolute
			top 5px
			left 28,5%
			color #4183d7			
			color #4183d7
			font-weight normal
	&__item3
		padding-right 100px
		&::before
			content "По новым услугам"
			font-size 13px
			position absolute
			top 5px
			left 33,5%			
			color #4183d7
			font-weight normal
	&__item4
		padding-right 100px
		&::before
			content "Оплачено"
			font-size 13px
			position absolute
			top 5px
			right 46,5%
			color #4183d7
			font-weight normal				
.amount-item
	font-weight bold
	font-size 32px			