.container
	margin 15px 65px
.subject-info
	display flex
	justify-content space-between		
.responsible
	width 70%
	border-bottom 1px solid #dadfe0
	position relative
	&::before
		content "Ответственный"
		color rgb(65,131,215)
		font-size 11px
		position absolute
		z-index 1
		top 10px
		left 15px
	&__info
		border none
		width 100%
		padding 30px 15px 10px
		background-image url('img/select-logo.png')
		background-repeat no-repeat
		background-position 98%
		appearance none
		border-right 1px solid #dadfe0
.period
	width 30%
	border-bottom 1px solid #dadfe0
	position relative
	&::before
		content "Период действия"
		color rgb(65,131,215)
		font-size 11px
		position absolute
		z-index 1
		top 10px
		left 15px				
	&__date
		width 100%
		padding 30px 15px 10px 
		border none
		appearance none
		background-image url('img/select-logo.png')
		background-repeat no-repeat
		background-position 96%
			
			


		
