body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  min-width: 100%;
  font-family: 'Roboto', sans-serif;
  background-color: #ecf0f0;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.header {
  background-color: #21313e;
  margin: 0 auto;
  padding: 0 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.header__link {
  margin-top: 60px;
}
.btn-info {
  margin-left: 28px;
  padding: 30px 0 0;
}
.btn-info__link {
  color: #5d9cec;
  font-size: 13px;
}
.btn-info__btn {
  font-family: inherit;
  width: 108px;
  height: 22px;
  margin: 10px 0;
  font-size: 11px;
  font-weight: bold;
  color: #fff;
  background-color: #37bc9a;
  text-transform: uppercase;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  border: none;
}
.btn-info__number {
  font-size: 23px;
  font-weight: normal;
  color: #fff;
  margin: 7px 10px;
}
.btn-info__sum {
  font-size: 13px;
  color: #9098a0;
  margin: 0;
}
.btn-info__wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: columns;
      -ms-flex-direction: columns;
          flex-direction: columns;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header-logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: auto;
}
.header-logo__btn-cb {
  font-family: inherit;
  width: 25px;
  height: 15px;
  margin-right: 25px;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 11px;
  color: #fff;
  background-color: #4ec0e9;
  border: none;
  padding: 0;
  margin-top: 50px;
}
.header-logo__menu {
  color: #fff;
  font-size: 34px;
  font-weight: bold;
  padding: 10px 0;
}
.main-menu {
  width: auto;
}
.main-menu__nav {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 205px;
  margin: 50px 0 0 0;
  text-transform: uppercase;
  padding: 0;
}
.main-menu__link {
  font-size: 13px;
  color: #9098a0;
}
.main-menu__link {
  color: #9098a0;
}
.main-menu__link:hover,
.main-menu__link:focus {
  color: #fff;
  border-bottom: 4px solid #5d9cec;
  padding-bottom: 12px;
}
.main-menu__item_active {
  border-bottom: 4px solid #5d9cec;
  padding-bottom: 12px;
}
.main-menu__link_active {
  color: #fff;
}
.container {
  margin: 15px 65px;
}
.subject-info {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-bottom: 1px solid #dadfe0;
}
.subject-info__responsible {
  width: 70%;
  position: relative;
}
.subject-info__responsible::before {
  content: "Ответственный";
  color: #4183d7;
  font-size: 11px;
  position: absolute;
  z-index: 1;
  top: 10px;
  left: 15px;
}
.subject-info__responsible-info {
  width: 100%;
  min-height: 60px;
  padding: 30px 15px 10px;
  border: none;
  background-image: url("img/select-logo.png");
  background-repeat: no-repeat;
  background-position: 99%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-right: 1px solid #dadfe0;
}
.subject-info__period {
  width: 30%;
  position: relative;
}
.subject-info__period::before {
  content: "Период действия";
  color: #4183d7;
  font-size: 11px;
  position: absolute;
  z-index: 1;
  top: 10px;
  left: 15px;
}
.subject-info__period-date {
  width: 100%;
  min-height: 60px;
  padding: 30px 15px 10px;
  border: none;
  background-image: url("img/select-logo.png");
  background-repeat: no-repeat;
  background-position: 98%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.subject {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-bottom: 1px solid #dadfe0;
}
.subject__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.subject__container-left {
  width: 70%;
}
.subject__container-right {
  width: 30%;
}
.subject__container__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}
.subject__provider {
  width: 100%;
  position: relative;
  border-right: 1px solid #dadfe0;
}
.subject__provider::before {
  content: "Поставщик";
  color: #4183d7;
  font-size: 11px;
  position: absolute;
  z-index: 1;
  top: 10px;
  left: 15px;
}
.subject__select-provider {
  width: 100%;
  min-height: 60px;
  padding: 30px 15px 10px;
  border: none;
  background-image: url("img/select-logo.png");
  background-repeat: no-repeat;
  background-position: 98%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.subject__exposed {
  width: 100%;
  position: relative;
  border-right: 1px solid #dadfe0;
}
.subject__exposed::before {
  content: "Выставлен";
  color: #4183d7;
  font-size: 11px;
  position: absolute;
  z-index: 1;
  top: 10px;
  left: 15px;
}
.subject__exposed-date {
  width: 100%;
  border: none;
  padding: 25px 15px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 60px;
}
.subject__duedate {
  width: 100%;
  position: relative;
  border-right: 1px solid #dadfe0;
}
.subject__duedate::before {
  content: "Срок оплаты";
  color: #4183d7;
  font-size: 11px;
  position: absolute;
  z-index: 1;
  top: 10px;
  left: 15px;
}
.subject__duedate-date {
  width: 100%;
  min-height: 60px;
  padding: 25px 15px 10px;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.subject__calculation {
  width: 100%;
  position: relative;
  border-right: 1px solid #dadfe0;
}
.subject__calculation::before {
  content: "Расчет НДС";
  color: #4183d7;
  font-size: 11px;
  position: absolute;
  z-index: 1;
  top: 10px;
  left: 15px;
}
.subject__сalculation-summ {
  width: 100%;
  min-height: 60px;
  padding: 30px 15px 10px;
  border: none;
  background-image: url("img/select-logo.png");
  background-repeat: no-repeat;
  background-position: 98%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.subject__acces {
  width: 100%;
  position: relative;
}
.subject__acces::before {
  content: "Период доступа";
  color: #4183d7;
  font-size: 11px;
  position: absolute;
  z-index: 1;
  top: 10px;
  left: 15px;
}
.subject__acces-date {
  width: 100%;
  padding: 25px 15px 10px;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 60px;
}
.requisites-supplier {
  background-color: #fff;
  border-bottom: 1px solid #dadfe0;
}
.requisites-supplier__caption {
  font-size: 17px;
  padding: 15px 0 5px 10px;
  color: #22313f;
}
.invoice-amount {
  background-color: #fff;
  min-height: 60px;
}
.invoice-amount__list {
  padding: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}
.invoice-amount__item1 {
  padding-right: 100px;
}
.invoice-amount__item1::before {
  content: "К оплате по счету";
  font-size: 13px;
  position: absolute;
  top: 5px;
  left: 20px;
  color: #4183d7;
  color: #4183d7;
  font-weight: normal;
}
.invoice-amount__item2 {
  padding-right: 100px;
}
.invoice-amount__item2::before {
  content: "По пролонгации";
  font-size: 13px;
  position: absolute;
  top: 5px;
  left: 28, 5%;
  color: #4183d7;
  color: #4183d7;
  font-weight: normal;
}
.invoice-amount__item3 {
  padding-right: 100px;
}
.invoice-amount__item3::before {
  content: "По новым услугам";
  font-size: 13px;
  position: absolute;
  top: 5px;
  left: 33, 5%;
  color: #4183d7;
  font-weight: normal;
}
.invoice-amount__item4 {
  padding-right: 100px;
}
.invoice-amount__item4::before {
  content: "Оплачено";
  font-size: 13px;
  position: absolute;
  top: 5px;
  right: 46, 5%;
  color: #4183d7;
  font-weight: normal;
}
.amount-item {
  font-weight: bold;
  font-size: 32px;
}
